@model IsYeriIsletmeListViewModel
@{
    ViewData["Title"] = "İşletmeler";
}

<div class="text-center">
    <div class="float-start">
        <a asp-route-id=0 class="text-decoration-none">
            Tümü
        </a>
        <span> | </span>
        @foreach (var item in Model.IsYerleri)
        {
            <a asp-route-id="@item.Id" class="text-decoration-none">
                @item.Adi
            </a>
            <span> | </span>
        }
    </div>
    <div class="float-end">
        <a asp-controller="Isletme" asp-action="AddIsletme" class="text-decoration-none">
             Ekle
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Isletme Kodu</th>
                <th>Isletme Adı</th>
                <th>Isletme Tipi</th>
                <th>Isletme Açıklaması</th>
                <th>İş Yeri Ad</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Isletmeler)
            {
                <tr>
                    <td>@item.Kod</td>
                    <td>@item.Ad</td>
                    <td>@item.Tip</td>
                    <td>@item.Aciklama</td>
                    <td>@item.Isyeri?.Adi</td>
                </tr>
            }
        </tbody>
    </table>
</div>
