@model IsYeriIsletmeListViewModel
@{
    ViewData["Title"] = "İşletmeler";
}

<div class="text-center">
    <div class="float-start">
        <a asp-route-id=0 class="btn btn-dark" style="display:inline;margin-right:0.5rem">
            Tümü
        </a>
        <span style="margin-right:0.5rem"> | </span>
        @foreach (var item in Model.IsYerleri)
        {
            <a asp-route-id="@item.Id" class="btn btn-outline-dark" style="display:inline;margin-right:0.5rem">
                @item.Adi
            </a>

        }
    </div>
    <div class="float-end">
        <a asp-controller="Isletme" asp-action="AddIsletme" class="btn btn-outline-primary">
             Ekle
        </a>
    </div>
    <table class="table pageTable" id="pageTable">
        <thead>
            <tr>
                <th>Isletme Kodu</th>
                <th>Isletme Adı</th>
                <th>Isletme Tipi</th>
                <th>Isletme Açıklaması</th>
                <th>İş Yeri Ad</th>
                <th>İşlemler</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Isletmeler)
            {
                <tr>
                    <td>@item.Kod</td>
                    <td>@item.Ad</td>
                    <td>@item.Tip</td>
                    <td>@item.Aciklama</td>
                    <td>@item.Isyeri?.Adi</td>
                    <td>
                        <a asp-controller="Isletme" asp-action="AddIsletme" asp-route-id="@item.Id" class="btn btn-outline-warning">Güncelle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
