@model List<OpcNodesIsletmeDagilimi>
@{
    ViewData["Title"] = "OpcNodes İşletme Dağılımı";
}

<div class="text-center">
    <div class="float-end">
        <a asp-controller="OpcNodesIsletmeDagilimi" asp-action="AddOpcNodesIsletme" class="text-decoration-none">
            Ekle
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>OpcNodes Node Id</th>
                <th>OpcNodes Kodu</th>
                <th>İşletme Adı</th>
                <th>Çarpan</th>
                <th>İşlem</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OpcNodes.NodeId</td>
                    <td>@item.OpcNodes.Code</td>
                    <td>@item.Isletme.Ad</td>
                    <td>@item.Carpan</td>
                    <td>@item.Islem</td>

                </tr>
            }
        </tbody>
    </table>
</div>
