@model RequestViewModel
@using SuperFilm.Enerji.Entites
@{
    ViewData["Title"] = "Sayaç Verileri";
}

<div> 
    <div class="container">
        <form asp-action="FilterSayacVeri" id="myform" method="post" style="display:flex;flex-direction:column;gap:1rem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-4">
                    <label asp-for="SayacVeriRequest.DataTypeId">Veri Tipi</label>
                    <select class="form-control" asp-for="SayacVeriRequest.DataTypeId" id="dataTypeId" required>
                        <option value="">Seçiniz</option>
                        <option value="1">Sayac</option>
                        <option value="2">OpcNodes</option>
                    </select>
                </div>

                <div class="col-md-4" id="SayacSelect" style="display:none">
                    <label asp-for="SayacVeriRequest.SayacID">Sayac Code</label>
                    <select class="form-control" asp-for="SayacVeriRequest.SayacID" id="sayacID">
                        <option value="">Seçiniz</option>

                        @if (Model.SayacTanimlari != null && Model.SayacTanimlari.Any())
                        {
                            foreach (var item in Model.SayacTanimlari)
                            {
                                <option value="@item.Id">@item.SayacKodu</option>
                            }
                        }
                        else
                        {
                            <option value="">Mevcut Sayac Yok</option>
                        }
                    </select>
                </div>

                <div class="col-md-4" id="OpcNodesSelect" style="display:none">
                    <label asp-for="SayacVeriRequest.OpcNodesID">OpcNodes Code</label>
                    <select class="form-control" asp-for="SayacVeriRequest.OpcNodesID" id="opcNodesID">
                        <option value="">Seçiniz</option>

                        @if (Model.OpcNodes != null && Model.OpcNodes.Any())
                        {
                            foreach (var item in Model.OpcNodes)
                            {
                                <option value="@item.Id">@item.Code</option>
                            }
                        }
                        else
                        {
                            <option value="">Mevcut Veri Yok</option>
                        }
                    </select>
                </div>

                @* <input type="hidden" asp-for="SayacVeriRequest.SayacOpcNodesID" id="sayacOpcNodesID" /> *@
            </div>

            <div class="row">
                <div class="col-md-4" style="display:flex;flex-direction:row;gap:1rem">
                    <label for="startDate">Başlangıç Tarihi</label>
                    <input type="datetime-local" asp-for="SayacVeriRequest.StartDate">
                </div>

                <div class="col-md-4" style="display:flex;flex-direction:row;gap:1rem">
                    <label for="endDate">Bitiş Tarihi</label>
                    <input type="datetime-local" asp-for="SayacVeriRequest.EndDate">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-4" style="display:flex;flex-direction:row;gap:1rem">
                    <label for="numData">Veri Sayısı (min:1000)</label>
                    <input type="number" asp-for="SayacVeriRequest.NumData" step="100" min="1000" value="1000">
                </div>

                <div class="col-md-4" style="display:flex;flex-direction:row;gap:1rem">
                    <label class="form-label">Order By</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="SayacVeriRequest.OrderBy" value="@OrderBy.Ascending" />
                        <label class="form-check-label" asp-for="SayacVeriRequest.OrderBy">Asc</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="SayacVeriRequest.OrderBy" value="@OrderBy.Descending" />
                        <label class="form-check-label" asp-for="SayacVeriRequest.OrderBy">Desc</label>
                    </div>
                </div>
                <div class="col-md-4" style="display:flex;flex-direction:row;gap:1rem">
                    @* <input type="submit" id="Getir" value="Getir" class="btn btn-success w-100 p-1"> *@
                    <input type="button" id="Getir" value="Getir" class="btn btn-success w-100 p-1">

                </div>

            </div>

        </form>
    </div>

    <table class="table pageTable text-center" id="Tablo">
        <thead class="bg-dark text-light">
            <tr>
                 
                <th>Sayac Kodu</th> 
                 
                
                <th>OpcNodes Id</th> 
                
                <th>Sayaç Veri Değer</th>
                <th>Sayaç Veri Tarih</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/selectdatatype.js"></script>
    @* <script src="~/js/serverdtfilter.js"></script> *@

    <script type="text/javascript">

        $(document).ready(function () {
            var tbl = $('#Tablo').DataTable({
                // columns: [
                //     { data: 'kod', title: 'Sayaç Kodu' },
                //     { data: 'opcNodesId', title: 'OpcNodes Id' },
                //     { data: 'deger', title: 'Sayaç Veri Değer' },
                //     { data: 'normalizeDate', title: 'Sayaç Veri Tarih' }
                // ]
            });

            $("#Getir").on("click", function () {
                var formData = $("#myform").serialize();
                console.log(formData);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FilterSayacVeri", "SayacVeri")",
                    data: formData,
                    success: function (response) {
                        tbl.clear().draw();

                        // tbl.rows.add(response.data);
                        // Her bir veri satırını tek tek DataTable'a ekle
                        $.each(response.data, function (i, item) {
                            tbl.row.add([
                                item.kod,
                                item.opcNodesId,
                                item.deger,
                                item.normalizeDate
                            ]);
                        });
                        tbl.draw();
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });


    </script>

}