@model SuperFilm.Enerji.Entites.IsYeriIsletmeListViewModel
@{
    ViewData["Title"] = "İş Yerleri";
}

<div class="text-center">
    <div class="float-start">
        <a asp-route-id=0 class="text-decoration-none">
            Tümü
        </a>
        <span> | </span>
        @foreach (var item in Model.IsletmeTanimlari)
        {
            <a asp-route-id="@item.Id" class="text-decoration-none">
                @item.Aciklama
            </a>
            <span> | </span>
        }
    </div>
    <div class="float-end">
        <a asp-controller="IsYeri" asp-action="AddIsYeri" class="text-decoration-none">
            Iş Yeri Ekle
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>İş Yeri Kodu</th>
                <th>İş Yeri Adı</th>
                <th>İş Yeri Açıklaması</th>
                <th>İşletme Ad</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IsYeri)
            {
                <tr>
                    <td>@item.Kod</td>
                    <td>@item.Ad</td>
                    <td>@item.Aciklama</td>
                    <td>@item.Isletme?.Aciklama</td>
                </tr>
            }
        </tbody>
    </table>
</div>
