@model IsletmeSayacDagilimiViewModel;
@{
    ViewData["Title"] = "İşletme Sayaç Ekle";
}
<div class="account-container">
    <div class="account-box">
        <div class="mb-3">
            <a asp-controller="IsletmeSayacDagilimi" asp-action="Index" class="text-decoration-none">
                Geri
            </a>
        </div>
        @if (Model.IsletmeSayacDagilimi.Id == 0)
        {
            <h1 class="display-4">İşletme Sayaç Ekle</h1>
        }
        else
        {
            <h1 class="display-4">İşletme Sayaç Güncelle</h1>
        }
       
        <form asp-action="AddIsletmeSayac" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsletmeSayacDagilimi.Id" class="form-control" />
            <label for="IsletmeID" class="select-label">Isletme</label>

            <select class="form-control select2-search" asp-for="IsletmeSayacDagilimi.IsletmeId">
                <option value="">Seçiniz</option>
                @if (Model.Isletme != null && Model.Isletme.Any())
                {

                    foreach (var isletme in Model.Isletme)
                    {
                        foreach (var isyeri in Model.IsYeri)
                        {
                            if (isyeri.Id == isletme.IsyeriId)
                            {
                                <option value="@isletme.Id">[ @isyeri.Kodu ] @isletme.Ad [ @isletme.Kod ]</option>
                            }
                        }
                    }
                }
                else
                {
                    <option>Mevcut İşletme Yok</option>
                }

            </select>
            <label for="SayacId" class="select-label">Sayaç Tanımı</label>
            <select class="form-control select2-search" asp-for="IsletmeSayacDagilimi.SayacId">
                <option value="">Seçiniz</option>
                @if (Model.SayacTanimlari != null && Model.SayacTanimlari.Any())
                {
                    foreach (var item in Model.SayacTanimlari)
                    {
                        <option value="@item.Id"> @item.SayacKodu - @item.SayacTanimi - @item.SayacAciklama </option>
                    }
                }
                else
                {
                    <option>Mevcut Sayaç Yok</option>
                }

            </select>
            <div class="mb-3">
                <label asp-for="IsletmeSayacDagilimi.Carpan" class="form-label"></label>
                <input asp-for="IsletmeSayacDagilimi.Carpan" type="text" class="form-control" />
                <span asp-validation-for="IsletmeSayacDagilimi.Carpan" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">İşlem</label>
                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="radio" asp-for="IsletmeSayacDagilimi.Islem" id="islemPlus" value="+" />
                    <label class="form-check-label" for="islemPlus">+</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="IsletmeSayacDagilimi.Islem" id="islemMinus" value="-" />

                    <label class="form-check-label" for="islemMinus">-</label>
                </div>
                <span asp-validation-for="IsletmeSayacDagilimi.Islem" class="text-danger"></span>
            </div>
            @if (Model.IsletmeSayacDagilimi.Id == 0)
            {
                <input type="submit" value="Ekle" class="btn btn-success w-100 p-2" />
            }
            else
            {
                <input type="submit" value="Güncelle" class="btn btn-success w-100 p-2" />
            }
           
        </form>
    </div>
</div>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/select2-custom.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2-search').select2({
                placeholder: "Ara...",
                allowClear: true,
                language: {
                    noResults: function() {
                        return "Sonuç bulunamadı";
                    },
                    searching: function() {
                        return "Aranıyor...";
                    }
                }
            });
        });
    </script>
}
