@model List<IsletmeSayacDagilimi>
@{
    ViewData["Title"] = "İşletme Sayaç Dağılımı";
}

<div class="text-center">
    <div class="float-end">
        <a asp-controller="IsletmeSayacDagilimi" asp-action="AddIsletmeSayac" class="btn btn-outline-primary">
            Ekle
        </a>
    </div>
    <table class="table pageTable" id="pageTable">
        <thead>
            <tr>
                <th>İşletme Adı</th>
                <th>Sayaç Tanımı</th>
                <th>Çarpan</th>
                <th>İşlem</th>
                <th>İşlemler</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Isletme.Ad</td>
                    <td>@item.Sayac.SayacTanimi</td>
                    <td>@item.Carpan</td>
                    <td>@item.Islem</td>
                    <td>
                        <a asp-controller="IsletmeSayacDagilimi" asp-action="AddIsletmeSayac" asp-route-id="@item.Id" class="btn btn-outline-warning">Güncelle</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
